{% macro render_field(field, class='') %}
  {% if field.type == 'SelectField' %}
    <div class="form-group">
      <label for="{{ field.id }}">{{ field.label }}</label>
      <select class="form-control {{ class }} {% if field.errors %}is-invalid{% endif %}" id="{{ field.id }}" name="{{ field.name }}">
        <option value="">Select</option>
        {% for value, label in field.choices %}
          <option value="{{ value }}" {% if field.data == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    <div class="form-group">
      <label for="{{ field.id }}">{{ field.label }}</label>
      {{ field(class="form-control {{ class }}"|safe) }}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}