{% extends 'base.html' %}
{% block title %}Payment{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h2>How would you like to get your order?</h2>
<form method="post" action="">
  <div class="form-group">
    {{ render_field(form.collection, class="form-control") }}
  </div>
  <h2>Personal Details</h2>
    <div class="form-group">
      {{ render_field(form.email, class="form-control") }}
      {{ render_field(form.phone, class="form control")
      {{ render_field(form.billing_address, class="form-control") }}
    </div>
  <h2>When would you like to get your order?</h2>
    <div class="form-group">
      {{ render_field(form.dateslot, class="form-control") }}
      {{ render_field(form.timeslot, class="form-control") }}
    </div>>
  <h2>How would you like to pay?</h2>
    <div class="form-group">
      {{ render_field(form.payment, class="form-control") }}
    </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

{% endblock %}