{% extends "customerBase.html" %}
{% block title%}Kim's Meat{% endblock %}

{% block content %}
<h1 class="display-4">How to Order</h1>
<h2>Explore our Selection</h2>
    <p>With over 300+ selections to choose from, add your fresh produce to cart now! Can't find what you need?
    <a href="/contactUs">LET US KNOW</a> and we'll try to help!</p>
<h2>Personalization</h2>
    <p>We can help if you need special handling (cutting, packing, etc), just simply comment on the order note</p>
<h2>Groceries Delivered</h2>
    <p>Choose your delivery date, we provide Next-Day Delivery for orders confirmed before 9pm, or choose self-pickup.
        Enjoy freshness at a click. Cart out now!</p>

<h1 class="display-4">What is Fresher than Live?</h1>
<h3>We have expanded our selection with LIVE SEAFOOD! Enjoy the freshest seafood you can get!</h3>

<h1 class="display-4">Shop By Category</h1>
    <ul>
        <li><a href="/chicken">Chicken</a></li>
        <li><a href="/beef">Beef</a></li>
        <li><a href="/pork">Pork</a></li>
        <li><a href="/seafood">Seafood</a></li>
    </ul>

<h1 class="display-4">Testimonials</h1>
{% endblock %}
