{% extends "base.html" %}
{% block title %}Library - Reserved Meats{% endblock %}

{% block content %}
<br>
<table class="table table-striped">
    <thead>
        <h1>Reserved Meats</h1>
    </thead>
    <thead>
        <tr>
            <th>ID</th>
            <th>Meat</th>
            <th>Weight</th>
            <th>Due Date</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    {% for meat in meats %}
    <tr>
        <td>{{ meat.get_id() }}</td>
        <td>{{ meat.get_meat() }}</td>
        <td>{{ meat.get_weight() }}</td>
        <td>{{ meat.get_price() }}</td>
        <td><a class="btn btn-danger" href="/cancelReserve/{{ meat.get_id() }}">Cancel</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}